<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %p %C{1} - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
    	<Logger name="pagerank" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>